.item {
  display: flex;
align-items:center;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  background-color: white;
  padding: 5px;
}

.status{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: red;
}

.online{
    composes: status;
    background-color: green;
}

.offline{
    composes: status;
    background-color: gray;
}

.avatar{
    margin-left: 10px;
    margin-right: 10px;
}

.name{
    font-weight: 700;
    
}